//
//  Config.xcconfig
//  MaDang
//
//  Created by LDW on 8/18/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KOPIS_API_KEY = c86e16401fc6457480156420bd8beebe

GPT_API_KEY = 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
